In [3]:
#para importar

import numpy as np
import pandas as pd

In [5]:
# para criar uma série no pandas

x = pd.Series([1,2,3,4,5])

print (x)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
# Para realizar operações a essas séries

print(x + 100)

0    101
1    102
2    103
3    104
4    105
dtype: int64

In [8]:
# realizar operações booleanas em uma série

print (x > 2)

0    False
1    False
2     True
3     True
4     True
dtype: bool

In [10]:
# para verificar se existe algum valor True em uma série utilize o any()

maior_que_2 = x > 2

print (maior_que_2.any())

#para verificar se TODOS os valores são True utilize a função all()

print (maior_que_2.all())

True
False

In [11]:
# criando uma função para aplicar na série

def f(x):
    if x % 2 == 0 :
        return x ** 2
    else:
        return x ** 3
    
# para aplicar utilize a função Apply e o pandas irá aplicar sua função em cada elemento.

print(x.apply(f))

0      1
1      4
2     27
3     16
4    125
dtype: int64

In [12]:
# para copiar uma série é necessário utilizar a função copy... caso contrário o objeto não será criado... 
# apenas a referencia será passada

# não faça y = x

y = x.copy()

print (y)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
# um dataframe é um conjunto de séries... uma série é apenas 1 coluna de dados

data = [1,2,3,4,5,6,7,8,9]

df= pd.DataFrame(data,columns=["x"]) # preciso especificar os dados e o nome da coluna
print(df)

   x
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [15]:
# podemos adicionar mais colunas a um dataframe

df["x_mais_2"] = df["x"] + 2
print (df)

   x  x_mais_2
0  1         3
1  2         4
2  3         5
3  4         6
4  5         7
5  6         8
6  7         9
7  8        10
8  9        11

In [16]:
# excluindo uma coluna

df = df.drop("x_mais_2",1)
print (df)

   x
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [17]:
# para coletar algumas informações sobre o dataset
df.describe()

              x
count  9.000000
mean   5.000000
std    2.738613
min    1.000000
25%    3.000000
50%    5.000000
75%    7.000000
max    9.000000

In [ ]:
# para ler um arquivo CSV

dataset = pd.read_csv('nome.csv')